{% extends "index.html" %}

{% block container %}


    <div class="col-md-12">

    <div class="col-md-3 left_menu" id='left_menu' style="display:none">

    <div class="navigation">
         <a href="{% url 'index' %}" class="nav-item">Return to main</a>
                {% for num in chapters %}
         <a href="chapter/{{num}}/" class="nav-item">Chapter {{num}}</a>
                {% endfor %}
        <form class="form-inline pull-xs-right">
            <p style="color:white;padding-top:5px">Search in book content:</p>
            <input id="searchbox" class="form-control" type="text" placeholder="Find in book">
                    <!--<button id="search_button" class="btn btn-primary btn-sm my_button" type="submit">Search</button> -->
.        </form>
    </div>

    </div>


            <div class="col-md-12 site-wrap" id="site_wrap" >
            <input type="checkbox" id="nav-trigger" class="nav-trigger" />
            <label for="nav-trigger"></label>


            {% for objects, sub in sub_translations %}
             <div class="overlay" id="overlay_{{sub}}">
                <div id="sub-translation_{{ sub }}" class="popup" style="display:none">
                    <span class="close">X</span>
                    <h3>Translation {{ sub }}</h3>
                    {% for obj in objects %}
                        <p> <b>{{obj.translator}}</b>: {{obj.translation}}</p>
                    {% endfor %}
                    </div>
             </div>
            {% endfor %}

            {% for chapter in all_content %}
                {% for content in chapter %}
                    {% if forloop.first %}
                        <h2 class="chapter"> Chapter {{ content.chapter }} </h2> <br>
                    {% endif %}
                    {% ifchanged content.sub_chapters %}
                        {% if content.chapter == 1 %}
                        <h3 id="subchapter_{{content.chapter}}_{{content.sub_chapters}}" class="subchapter">{{ content.sub_chapters }} {{ content.sub_content }}</h3>
                        {% else %}
                        <h3 id="subchapter_{{content.chapter}}_{{content.sub_chapters}}" style="text-align:center">{{ content.sub_chapters }} {{ content.sub_content }}</h3>
                        {% endif %}
                    {% endifchanged %}
                    <div class="col-md-12">
                    <div class="col-md-2"><b style="font-size:large">{{ content.commentator}}</b></div>
                    <div class="col-md-10"> {{ content.comment}}</div>
                    </div>
                        {% if content.com_translator|length > 5 %}
                        {% load static %}
                        <center>
                        <img src="{% static 'suntzu_artofwar/images/translate.png' %}"
                             style="cursor:pointer;" alt="Translate" id="translate_button_{{content.id}}">

                        <div class="translation" style="display:none;" id="translation_{{content.id}}">
                         <p> {{ content.com_translator }} {{content.com_translation }} </p>
                        </div>
                        </center>
                    {% endif %}
                {% endfor %}
                <hr>
            {% endfor %}
        </div>

        </div>



<a href="#" class="back-to-top">Up</a>

{% endblock %}