{% extends "index.html" %}

{% block container %}

<div class="container-fluid">

    <div class="col-md-3">

        <div class="nav nav-pills nav-stacked">
          <li class="nav-item">
            <a class="nav-link active" href="#"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Return to main</a>
          </li>

          <li class="navbar-toggler" data-toggle="collapse" data-target="#exCollapsingNavbar">
            <a class="nav-link" href="#">Choose chapter</a>
          </li>

            <div class="collapse" id="exCollapsingNavbar">
              <div class="bg-inverse p-a-1">
              <ul>
              {% for num in chapters %}
              <li class="nav-item">
                <a class="nav-link" href="chapter/{{num}}/">Chapter {{num}}</a>
              </li>
              {% endfor %}
              </ul>
              </div>
            </div>

            <form class="form-inline pull-xs-right">
            <input class="form-control" type="text" placeholder="Search">
            <button class="btn btn-primary btn-sm my_button" type="submit">Search</button>
            </form>

        </ul>

        </div>
    </div>

        <div class="col-md-9">


            {% for chapter in all_content %}
                {% for content in chapter %}
                    {% if forloop.first %}
                        <h2 class="chapter"> {{ content.chapter }} </h2>
                    {% endif %}
                    {% ifchanged content.sub_chapters %}
                    <h3>{{ content.sub_chapters }} {{ content.sub_content }}</h3>
                    {% endifchanged %}
                    <p> <b>{{ content.commentator}}</b> {{ content.comment}} </p>
                    {% if content.com_translator|length > 5 %}
                        {% load static %}
                        <img src="{% static 'suntzu_artofwar/images/translate.png' %}"
                             style="cursor:pointer;" id="translate_button">
                        <div class="translation" style="display:none;" id="translation">
                         <p> {{ content.com_translator }} {{content.com_translation }} </p>
                        </div>
                    {% endif %}
                {% endfor %}
                <hr>
            {% endfor %}
        </div>

</div>


{% endblock %}