{% extends "index.html" %}

{% block container %}

<div class="col-md-12">

    <div class="col-md-3 left_menu" id='left_menu' style="display:none">

    <div class="navigation">
         <a href="{% url 'index' %}" class="nav-item">Return to main</a>
                {% for num in chapters %}
         <a href="{% url 'mychapter' num %}" class="nav-item">Chapter {{num}}</a>
                {% endfor %}
        <form class="form-inline pull-xs-right">
                    <input id="searchbox" class="form-control" type="text" placeholder="Search in chapter">
                   <!-- <button id="search_button" class="btn btn-primary btn-sm my_button" type="button">Search</button> -->
        </form>
    </div>

    </div>


    <div class="col-md-12" id="site_wrap" style="padding:1em" >

           <div class="site-wrap">
            <input type="checkbox" id="nav-trigger" class="nav-trigger" />
            <label for="nav-trigger"></label>

            {% for objects, sub in sub_translations %}
             <div class="overlay" id="overlay_{{sub}}">
                <div id="sub-translation_{{ sub }}" class="popup" style="display:none">

                    <span class="close">X</span>
                    <h3>Translation {{ sub }}</h3>
                    {% for obj in objects %}
                        <p> <b>{{obj.translator}}</b>: {{obj.translation}}</p>
                    {% endfor %}
                    </div>
             </div>
            {% endfor %}

            {% for chapter in chapter_info %}
                {% if forloop.first %}
                    <center><h1> Chapter {{chapter.chapter}} </h1></center><br>
                {% endif %}
                    {% ifchanged chapter.sub_chapters %}
                        {% if chapter.chapter == 1 %}
                        <h3 id="subchapter_{{chapter}}_{{chapter.sub_chapters}}" class="subchapter">{{ chapter.sub_chapters }}  {{ chapter.sub_content }}</h3>
                        {% else %}
                        <h3 id="subchapter_{{chapter}}_{{chapter.sub_chapters}}" class="subchapter">{{ chapter.sub_chapters }}  {{ chapter.sub_content }}</h3>
                        {% endif %}
                {% endifchanged %}
                    <div class="col-md-12">
                    <div class="col-md-2"><b style="font-size:large">{{ chapter.commentator}}</b></div>
                    <div class="col-md-10"> {{ chapter.comment}}</div>
                    </div>
                    {% if chapter.com_translator|length > 5 %}
                        {% load static %}
                        <center>
                        <img src="{% static 'suntzu_artofwar/images/translate.png' %}"
                             style="cursor:pointer;" alt="Translate" id="translate_button_{{chapter.id}}">
                        <div class="translation" style="display:none;" id="translation_{{chapter.id}}">
                         <p>{{ chapter.com_translator }} {{chapter.com_translation }}</p>
                        </div>
                        </center>
                    {% endif %}
            {% endfor %}
       </div>
        </div>

        </div>



<a href="#" class="back-to-top">Up</a>

{% endblock %}