{% extends "index.html" %}

{% block container %}

<div class="container">

    <div class="main_chapters">

        <div class="col-md-12 chapter_element">
            <p>CONTENT</p>
        </div>

        <div class="col-md-4 col-lg-4 chapter_element">
            <a href="{% url 'book' %}">All chapters</a>
        </div>

        {% for num in chapters %}
        <div class="col-md-4 col-lg-4 chapter_element">
            <a href="chapter/{{num}}/"> Chapter {{ num }} </a>
        </div>
        {% endfor %}

    </div>

</div>

    <div class="container-fluid" style="padding-bottom:1em">

        <div class="row info_content">
            <div class="col-md-4 extra_info1">
            <h4>Sun Tzu</h4>
            </div>
            <div class="col-md-8 info_inside">
                <p><b>Sun Tzu</b> (or Sun Zi) was a Chinese general, military strategist,
                    and philosopher who lived in the Spring and Autumn period of ancient China.
                    Sun Tzu is traditionally credited as the author of The Art of War,
                    a widely influential work of military strategy that has affected
                    both Western and Eastern philosophy.
                    Aside from his legacy as the author of The Art of War,
                    Sun Tzu is revered in Chinese and Asian culture as a legendary historical figure.
                    His birth name was Sun Wu, and he was known outside of his family by his
                    courtesy name Changqing. The name Sun Tzu by which he is best known in
                    the West is an honorific which means "Master Sun".</p>
        </div>
        </div>

        <div class="row info_content">
            <div class="col-md-8 info_inside">
                <p><b>The Art of War</b> is an ancient Chinese military treatise dating from the 5th century BC.
                    Attributed to the ancient Chinese military strategist Sun Tzu – "Master Sun",
                    the text is composed of 13 chapters, each of which is devoted to one aspect of warfare.
                    It is commonly thought of as a definitive work on military strategy and tactics.
                    It was placed at the head of China's Seven Military Classics upon the collection's
                    creation in 1080 by Emperor Shenzong of Song, and has long been the most influential
                    strategy text in East Asia. It has had an influence on Eastern and Western
                    military thinking, business tactics, legal strategy and beyond.</p>
            </div>
            <div class="col-md-4 extra_info2">
                <h4>About the book</h4>
            </div>
        </div>
        <div class="row info_content">
            <div class="col-md-4 extra_info3">
            <h4>Contacts</h4>
            </div>
            <div class="col-md-8 info_inside" >
                <p>This site is is dedicated to Sun Tzu Art of war.</p>
                <p>It is made within the digital humanities project of Higher School of Economics.</p>
                <p>The author of this project is Alena Fenogenova</p>
                <p>If you have any questions, please, write me on email:</p>
                <p>alenush93@gmail.com</p>
            </div>
        </div>

    </div>

{% endblock %}