{% extends "index.html" %}

{% block container %}

<div class="container">

    <div class="main_chapters">

        <div class="col-md-12 chapter_element">
            CONTENT
        </div>

        <div class="col-md-4 col-lg-4 chapter_element">
            <a href="{% url 'book' %}">All chapters</a>
        </div>

        {% for num in chapters %}
        <div class="col-md-4 col-lg-4 chapter_element">
            <a href="chapter/{{num}}/"> Chapter {{ num }} </a>
        </div>
        {% endfor %}

    </div>

</div>

    <div class="container-fluid" style="padding-bottom:3em">
        <div class="col-md-4 extra_info1">
        <p><a href="#">Sun Tzu</a></p>
        </div>
        <div class="col-md-4 extra_info2">
        <p><a href="#">About the book</a></p>
        </div>
        <div class="col-md-4 extra_info3">
        <p><a href="#">Contacts</a></p>
        </div>
    </div>

{% endblock %}