body{
    background-color: #f3f3ed;
}


.main-header{
    color:silver;
    font-family: 'Cinzel', serif;
}

a {
    text-decoration: none;
    color: black;
}
a:hover{
    color: #6F4E37;
    text-decoration: underline ;
}

.main_href, .main_href:hover{
    color:silver;
    text-decoration:none;
}

.main_chapters{
    /*background-color: white;*/
    padding-top: 1em;
    padding-bottom: 23em;
    width: 85%;
    margin: 3em auto;
    border-top: 2px solid silver;
    border-bottom: 2px solid silver;
    /*box-shadow: 15px 0 15px -20px #000 inset, -15px 0 15px -20px #000 inset; */
}

.my_button{
    border: #E0DAD3;
    background-color: #9A846D;
}
.my_button:hover{
    border: #E0DAD3;
    background-color: #6E5E4C;
}


@media screen and (max-device-width: 1024px) {

    .main_chapters{
        padding-bottom: 2em;
    }

}

.chapter_element{

    padding: 1em;
    text-align: center;
}

.extra_info1{
    background-image:url('../images/phone.jpeg');
    background-size: cover;
    margin: 0, auto;
    padding: 5em;
    border: 1px solid black;
    text-align: center;
    color: black;
    font-weight: 900;
}
.extra_info2{
    background-image:url('../images/about.jpeg');
    background-size: cover;
    margin: 0, auto;
    padding: 5em;
    border: 1px solid black;
    text-align: center;
    color: black;
    font-weight: 900;
}
.extra_info3{
    background-image:url('../images/class.jpeg');
    background-size: cover;
    margin: 0, auto;
    padding: 5em;
    border: 1px solid black;
    text-align: center;
    color: black;
    font-weight: 900;
}


.chapter{
    text-align: center;

}

.translation{
    background-color: black;
    color: white;
    opacity: 0.8;
    padding: 7px;
    border-radius: 3px;
}

/* Up button */
a.back-to-top {
	display: none;
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	left: 20px;
	bottom: 20px;
	background:url("../images/up2.png") no-repeat center 50%;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}